.normalizeLinks:link {
  color: #eeeeff;
  text-decoration: none;
}
.normalizeLinks:hover {
  color: #eeeeff;
  text-decoration: none;
}
.normalizeLinks:visited {
  color: #eeeeff;
  text-decoration: none;
}
.normalizeLinks:active {
  color: #eeeeff;
  text-decoration: none;
}
html,
body {
  position: relative;
  font-family: Rockwell, "Liberation Mono", Courier, monospace;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #eeeeff;
  color: black;
}
h1 {
  display: block;
  width: 100%;
  padding: 0 0 0 55px;
  float: left;
}
h2 {
  padding: 0 0 0 15px;
}
#menu {
  float: left;
  width: 15vw;
  min-width: 100px;
  height: 100%;
  margin: 0;
  background: #3333ff;
  color: #eeeeff;
}
.menuItem {
  display: flex;
}
.menuItem a {
  width: 100%;
  padding: 0.5rem 0 0.5rem 2rem;
  transition: background-color 1s;
}
.menuItem a:link {
  color: #eeeeff;
  text-decoration: none;
}
.menuItem a:hover {
  color: #eeeeff;
  text-decoration: none;
}
.menuItem a:visited {
  color: #eeeeff;
  text-decoration: none;
}
.menuItem a:active {
  color: #eeeeff;
  text-decoration: none;
}
.menuItem a:hover {
  font-weight: bold;
  background-color: #6666ff;
}
.menuItem a i {
  padding: 1rem;
  font-size: 150%;
}
#content {
  position: relative;
  float: left;
  width: 85%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 25rem;
  padding-left: 3rem;
  padding-top: 5rem;
}
.sectionHome {
  transition: background-color 1s;
  background: linear-gradient(rgba(178, 178, 195, 0.8), rgba(178, 178, 195, 0.65)), url("../screenshots/1.png");
  background-size: cover;
}
.sectionHome:hover {
  background: linear-gradient(rgba(238, 238, 255, 0.8), rgba(238, 238, 255, 0.65)), url("../screenshots/1.png");
  background-size: cover;
}
.sectionMisson {
  transition: background-color 1s;
  background: linear-gradient(rgba(178, 178, 195, 0.8), rgba(178, 178, 195, 0.65)), url("../screenshots/2.png");
  background-size: cover;
}
.sectionMisson:hover {
  background: linear-gradient(rgba(238, 238, 255, 0.8), rgba(238, 238, 255, 0.65)), url("../screenshots/2.png");
  background-size: cover;
}
.sectionPrototype {
  transition: background-color 1s;
  background: linear-gradient(rgba(178, 178, 195, 0.8), rgba(178, 178, 195, 0.65)), url("../screenshots/3.png");
  background-size: cover;
}
.sectionPrototype:hover {
  background: linear-gradient(rgba(238, 238, 255, 0.8), rgba(238, 238, 255, 0.65)), url("../screenshots/3.png");
  background-size: cover;
}
.maintenance {
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  width: 80%;
  height: 80%;
  border-radius: 40px;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../img/screwdriver3.svg);
  background-color: rgba(220, 180, 0, 0.75);
}
.maintenanceTitle {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  font-size: 60px;
  text-align: center;
}
