.normalizeLinks:link {
  color: #eeeeff;
  text-decoration: none;
}
.normalizeLinks:hover {
  color: #eeeeff;
  text-decoration: none;
}
.normalizeLinks:visited {
  color: #eeeeff;
  text-decoration: none;
}
.normalizeLinks:active {
  color: #eeeeff;
  text-decoration: none;
}
html,
body {
  position: relative;
  font-family: Rockwell, "Liberation Mono", Courier, monospace;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #eeeeff;
  color: black;
}
h1 {
  display: block;
  width: 100%;
  padding: 0 0 0 55px;
  float: left;
  font-size: 150%;
}
h2 {
  padding: 0 0 0 15px;
}
#menu {
  float: left;
  width: 15vw;
  min-width: 100px;
  height: 100%;
  margin: 0;
  background: #3333ff;
  color: #eeeeff;
}
.menuItem {
  display: flex;
}
.menuItem a {
  width: 100%;
  padding: 0.5rem 0 0.5rem 2rem;
  transition: background-color 1s;
}
.menuItem a:link {
  color: #eeeeff;
  text-decoration: none;
}
.menuItem a:hover {
  color: #eeeeff;
  text-decoration: none;
}
.menuItem a:visited {
  color: #eeeeff;
  text-decoration: none;
}
.menuItem a:active {
  color: #eeeeff;
  text-decoration: none;
}
.menuItem a:hover {
  font-weight: bold;
  background-color: #6666ff;
}
.menuItem a i {
  padding: 1rem;
  font-size: 150%;
}
#content {
  position: relative;
  float: left;
  width: 85%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 140%;
}
section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.sectionHome {
  transition: background-color 1s;
  background: linear-gradient(rgba(198, 198, 215, 0.8), rgba(198, 198, 215, 0.15)), url("../");
  background-size: cover;
}
.sectionHome:hover {
  background: linear-gradient(rgba(238, 238, 255, 0.8), rgba(238, 238, 255, 0.65)), url("../");
  background-size: cover;
}
.sectionMisson {
  transition: background-color 1s;
  background: linear-gradient(rgba(198, 198, 215, 0.8), rgba(198, 198, 215, 0.15)), url("../");
  background-size: cover;
}
.sectionMisson:hover {
  background: linear-gradient(rgba(238, 238, 255, 0.8), rgba(238, 238, 255, 0.65)), url("../");
  background-size: cover;
}
.sectionPrototype {
  transition: background-color 1s;
  background: linear-gradient(rgba(198, 198, 215, 0.8), rgba(198, 198, 215, 0.15)), url("../");
  background-size: cover;
}
.sectionPrototype:hover {
  background: linear-gradient(rgba(238, 238, 255, 0.8), rgba(238, 238, 255, 0.65)), url("../");
  background-size: cover;
}
p {
  width: 90%;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}
.linkWrapper {
  width: 95%;
  display: flex;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}
.linkWrapper a {
  margin: auto;
  padding: 1rem 4.5rem 1rem 4.5rem;
  background-color: #3333ff;
  transition: background-color 1s;
}
.linkWrapper a:link {
  color: #eeeeff;
  text-decoration: none;
}
.linkWrapper a:hover {
  color: #eeeeff;
  text-decoration: none;
}
.linkWrapper a:visited {
  color: #eeeeff;
  text-decoration: none;
}
.linkWrapper a:active {
  color: #eeeeff;
  text-decoration: none;
}
.linkWrapper a:hover {
  font-weight: bold;
  background-color: #6666ff;
}
.linkWrapper a i {
  padding: 1rem;
  font-size: 100%;
}
/**** Image carousel *****/
.slides {
  padding: 0;
  width: 70vw;
  height: 85vh;
  display: block;
  margin: 0 auto;
  position: relative;
}
.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.slides input {
  display: none;
}
.slide-container {
  display: block;
}
.slide {
  top: 0;
  opacity: 0;
  display: block;
  position: absolute;
  transform: translate(200px, 50px) scale(0.5, 0.75);
  transition: all 0.7s ease-in-out;
}
.slide img {
  width: 100%;
  height: 100%;
}
.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s;
  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 15px #777777;
}
.slide:hover + .nav label {
  opacity: 0.5;
}
.nav label:hover {
  opacity: 1;
}
.nav .next {
  right: 0;
}
input:checked + .slide-container .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
input:checked + .slide-container .nav label {
  display: block;
}
.nav-dots {
  width: 100%;
  bottom: 9px;
  height: 11px;
  display: block;
  position: absolute;
  text-align: center;
}
.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7,
input#img-8:checked ~ .nav-dots label#img-dot-8,
input#img-9:checked ~ .nav-dots label#img-dot-9,
input#img-10:checked ~ .nav-dots label#img-dot-10,
input#img-11:checked ~ .nav-dots label#img-dot-11 {
  background: rgba(0, 0, 0, 0.8);
}
/***** maintenance overlay ******/
.maintenance {
  display: inline-block;
  position: absolute;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  width: 80%;
  height: 80%;
  border-radius: 40px;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../img/screwdriver3.svg);
  background-color: rgba(220, 180, 0, 0.75);
}
.maintenanceTitle {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  font-size: 60px;
  text-align: center;
}
