@contentBgColor: #eeeeff;
@menuBgColor: #3333ff;
@contentColor: black;

//normalize links
.normalizeLinks {
	&:link {
		color: @contentBgColor;
		text-decoration: none;
	}
	&:hover {
		color: @contentBgColor;
		text-decoration: none;
	}
	&:visited {
		color: @contentBgColor;
		text-decoration: none;
	}
	&:active {
		color: @contentBgColor;
		text-decoration: none;
	}
}

html, body {
	position: relative;
	font-family: Rockwell, "Liberation Mono", Courier, monospace;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: @contentBgColor;
	color: @contentColor;
}

h1{
	display: block;
	width: 100%;
	padding: 0 0 0 55px;
	float: left;
}

h2{
	padding: 0 0 0 15px;
}

#menu {
  float: left;
  width: 15vw;
  min-width: 100px;
  height: 100%;
  margin: 0;

  background: @menuBgColor;
  color: @contentBgColor;
}

.menuTitle {
}
.menuItem {
	display: flex;
	a {
		.normalizeLinks;
		width: 100%;
		padding: 1.5rem 0 1.5rem 4rem;
		transition: background-color 1s;

		&:hover {
			font-weight: bold;
			background-color: lighten(@menuBgColor, 10%);
		}
	}
}

#content {
	float: left;
	width: 80%;
}

section {
	display: flex;
	width: 100%;
	min-height: 3rem;
}

.maintenance {
	display: inline-block;
	position: absolute;
	top: 10vh;
	left: 10vw;
	right: 10vw;
	width: 80%;
	height: 80%;

	border-radius: 40px;

	background-size: 25%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(../img/screwdriver3.svg);
	background-color: rgba(220, 180, 0, 0.75);
}

.maintenanceTitle {
	position: absolute;
	bottom: 10vh;
	width: 100%;
	font-size: 60px;
	text-align: center;
}