<div class="centered">
	
	<h2>Where do you live?</h2>
	<input type="text">
	<button onclick="goToLA()">Enter</button>
	<button onclick="">Use current location</button>
	<div id="map"></div>
	<button onclick="drawCircle(600)">Make circle bigger</button>
<script>

var map;
var circle;

function initMap() {
  // Create the map.
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: {lat: 37.4475533, lng: -122.1618798},
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  var marker = new google.maps.Marker({
  	map: map,
  	position: map.center
  });

  drawCircle(300);
}

function goToLA() {
	map.setCenter({lat: 33.939328, lng: -117.981927});
	var marker = new google.maps.Marker({
	  	map: map,
	  	position: map.center
	});

	createInfoWindow(marker, 'Soccer', 'For age 12-14');
	drawCircle(300);
}

function drawCircle(radius) {
	if (circle)
		circle.setMap(null);
	circle = new google.maps.Circle({
		strokeColor: '#FF0000',
	    strokeOpacity: 0.8,
	    strokeWeight: 2,
	    fillColor: '#FF0000',
	    fillOpacity: 0.35,
	    map: map,
	    center: map.center,
	    radius: radius
	});
}

function createInfoWindow(marker, sportName, description) {

  var contentString = 
  	'<h2>' + sportName + '</h2>'
  	+ '<p>' + description + '</p>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });

}


</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>

