<md-whiteframe class="md-whiteframe-1dp" layout-padding layout-margin>
<h2>What is going on in my area?</h2>

<ui-gmap-google-map id="map" center='map.center' zoom='map.zoom'>
	<ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" idkey="marker.id" options="marker.options">
		<ui-gmap-window>
			<div>
				<div class="bold">{{marker.data.name}}</div>
				<div>Phone: {{marker.data.phone}}</div>
				<div>Age Range: {{marker.data.age}}</div>
				<div>Activities: {{marker.data.activities}}</div>
				<div>Source: {{marker.data.source}}</div>
			</div>
		</ui-gmap-window>
	</ui-gmap-marker> 
</ui-gmap-google-map>

</md-whiteframe>