<div class="tabContentWrapper">
    <h2>Your next Games</h2>
    
    <div layout="row" layout-wrap>
        <md-card ng-repeat="game in $root.myGames" class="history_card">
          <img ng-src="{{game.image}}" class="md-card-image" alt="Person">
          <md-card-content layout="column">
            <div layout="row" layout-fill>
                <img src="{{game.sportIcon}}" style="width:64px; height:64px">
                <h2 flex>{{game.name}}</h2>
                <h3 flex>{{game.date}}</h3>
            </div>
            <div><img ng-src="{{game.map}}" alt="Description" style="width:100%"/></div>
          </md-card-content>
        </md-card>

    </div>
</div>