<div class="tabContentWrapper">
    <h2>Your next Games</h2>
    
    <div layout="row" layout-wrap>
        <md-card ng-repeat="game in $root.myGames" class="history_card">
          <img ng-src="{{game.image}}" class="md-card-image" alt="Person">
          <md-card-content>
            <h2 class="md-title">{{game.name}}</h2>
            <div layout>
                <div flex="10" layout layout-align="center center">
                    <span class="md-body-1">{{game.date}}</span>
                </div>
            </div>
          </md-card-content>
        </md-card>
    </div>
</div>