<div class="tabContentWrapper">
	<h2>My Sports</h2>
	
	<div ng-repeat="sports in mySports">
		<md-autocomplete
          md-items="item in sportsList | filter:searchText | limitTo:10"
          md-item-text="item"
          md-search-text="searchText"
          md-min-length="0"
          placeholder="Type in your Sport">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{searchText}}" were found.
        </md-not-found>
      </md-autocomplete>
		<div layout>
	      <div flex="10" layout layout-align="center center">
	        <span class="md-body-1">Skill</span>
	      </div>
	      <md-slider flex md-discrete ng-model="sports.skill" step="1" min="1" max="10" aria-label="rating" class="sportElement">
	      </md-slider>
	    </div>
	    
        <md-divider ng-if="!$last" class="dividerMargin"></md-divider>
	</div>
	
	<md-button class="md-fab md-primary" aria-label="Add sport" ng-click="addSport()">
		<md-icon md-font-icon="fa-plus" class="fa fa-2x"></md-icon>  
	</md-button>
	
	<md-button class="newLineButton md-primary" href="#/location">Next</md-button>
</div>