<div class="tabContentWrapper">

	<div class="notificationWrapper">
		
		<div class="notificationHeader">
			<h2>Tennis</h2>
		</div>
		
		<div class="notificationMap">
			
		</div>
		
		<div class="notificationTime">
			<md-datepicker ng-model="date" md-placeholder="Enter date" disabled></md-datepicker>
		</div>
		
		<md-button ng-click="closeNotification(true)" class="md-primary">Yes</md-button>
		<md-button ng-click="closeNotification(false)" class="md-warn">Not now</md-button>
		
	</div>

</div>