<div class="tabContentWrapper">

	<div class="notificationWrapper">
		
		<div class="notificationHeader">
			<h2>{{match.sport}}</h2>
		</div>
		
		<div class="notificationMap">
			
		</div>
		
		<div class="notificationTime">
			<md-datepicker ng-model="date" md-placeholder="Enter date" disabled></md-datepicker>
		</div>

    <div  class="image">
      <img flex="100" ng-src={{match.image}} alt="Description" />
    </div>
		
		<md-button ng-click="closeNotification(true)" ng-href="#/dashboard" class="md-primary">Yes</md-button>
		<md-button ng-click="closeNotification(false)" class="md-warn">Not now</md-button>
		
	</div>

</div>